version: '3'

networks:
  finflx_network:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    env_file: .env
    volumes:
      - ./data:/app/data
    environment:
      - JAVA_OPTS=-Xmx512m
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    networks:
      - finflx_network
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - finflx_network

  nginx:
    image: nginx:latest
    ports:
      - "70:70"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - finflx_network
    depends_on:
      - app

volumes:
  mysql_data: